{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Categories</h3>

<div class="row">
    <div class="col s12 center-align">
        <!-- The 'url_for()' method on our links calls the actual Python functions within 
        the app.route & not the app.route itself, even though they often have the same name. -->
        <!-- When a user clicks on the large button in 'categories.html' page to add a new 
        category, the 'add_category' function in 'routes.py' is called which will in turn 
        render the template called 'add_category.html' that will display a form to add the desired category.  -->
        <a href="{{ url_for('add_category') }}" class="btn-large light-blue darken-2">
            Add Category <i class="fas fa-plus-square right"></i>
        </a>
    </div> 
</div>

<div class="row">
    <!-- We've only added the category of 'Travel' so to add more categories, we have to loop.
    We'll prepare the code below to recognize multiple cards, by using the Jinja syntax of a for-loop. 
    NOTE: We don't want each card to stack on top of each other but to flow within the same row, each 
    having their own column. -->
    <!-- The for-loop we're using here means that for each 'category' in the ‘list of categories' being 
    passed over from our Python function, it will generate a new column and card. -->
    
    {% for category in categories %}
    <div class="col s12 m6 l3">
        <div class="card light-blue darken-4 center-align">
            <div class="card-content white-text">
                <!-- Since we are within a for-loop, we need to use the newly defined index variable of 
                'category', we also need to use dot-notation and tell it which key should be printed here.
                For example, If we wanted to show the primary key instead, stored within our database as 
                'id', it would be 'category.id'  -->
                <span class="card-title">{{category.category_name}}</span>
            </div>
            <div class="card-action">
                <!-- We used 'url_for' to wrap the 'edit_category' function bcos it is our custom-made function 
                (i.e we wrote it ourselves) & not a function taken from a library or framework. Apart from 
                calling our new 'edit_category' function, we need to pass another argument to specify which 
                particular category we are attempting to update. Ensure to add a comma after the single-quotes
                to denote that we are calling the 'edit_category' function with some data included. -->
                <!-- For the argument name, it can be whatever we choose but must be unique so it's best to use 
                    the 'ID' primary key.In other words, we'll call this 'category_id' & set that equal to the 
                    current 'category.id' using dot-notation again. -->
                <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn green accent-4">Edit</a>
                <a href="#" class="btn red">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}